{% extends 'base.html' %}

{% block content %}

    <h2> Return User Please Log In</h2>
    <div class='login_form'>
        <form action='/login' method='POST'>
        
            <div class='email'>
                <label for='Email'>Email</label>
                <input type='text' name='email' required>
            </div>

            <div class='password'>
                <label for='password'>Password</label>
                <input type='password' name='password' required>
            </div>

            <div>
                <input type='submit' value='Log In'>
            </div>

        </form>
    </div>

{% endblock %}
