{% extends 'base.html' %}

{% block content %}

    <h2>{{ movie.title }}</h2>
    <p>Released: {{ movie.released_at }}</p>
    <p>IMDB: <a href='{{ movie.imdb_url }}'>{{ movie.imdb_url }}</a></p>
          

    {% if movie.ratings %}
        <h2>Ratings</h2>
        <ul>
        {% for rating in movie.ratings %}
            <li>
                <a href='/users/ {{ rating.user_id }}'>{{ rating.user_id }}</a> rated {{ rating.score }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if "user_id" in session %}
        <h2>Your Rating</h2>
        {% if user_rating %}
            <p>You rated this movie a {{ user_rating.score }}</p>
        {% endif %}

        <div class='rating-form'>
            Rate this movie for the very first time or update your rating
            <form action='/movies/{{ movie.movie_id }}' method='POST'>
                <input type='radio' name='score' value='1'>1
                <input type='radio' name='score' value='2'>2
                <input type='radio' name='score' value='3'>3
                <input type='radio' name='score' value='4'>4
                <input type='radio' name='score' value='5'>5
                <input type='submit' value='Submit'>
            </form>
        </div>
    {% endif %}


{% endblock %}





